<fieldset id="audio" class="data_box">
  <legend class="heading"><a name="audio">Audio</a></legend>

  <div class="subheading">Audio Adapter</div>
  <div class="data">
    <div class="label">Enable Audio: <%= audio_enabled_description %></div>
    <div class="value">
      <%= hidden_field_tag('settings[audio_adapter][enabled]', false) %>
      <%= check_box_tag('settings[audio_adapter][enabled]', true, @vm.audio_adapter.enabled) %>
    </div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Host Audio Driver: <%= audio_driver_description %></div>
    <div class="value">
      <%= select_tag('settings[audio_adapter][audio_driver]', options_for(:audio_drivers, @vm.audio_adapter.audio_driver)) %>
    </div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Audio Controller: <%= audio_controller_description %></div>
    <div class="value">
      <%= select_tag('settings[audio_adapter][audio_controller]', options_for(:audio_controllers, @vm.audio_adapter.audio_controller)) %>
    </div>
    <div class="break"></div>
  </div>
</fieldset>
