<fieldset id="general" class="data_box">
  <legend class="heading"><a name="general">General</a></legend>

  <div class="subheading">Basic</div>
  <div class="data">
    <div class="label">Name: <%= name_description %></div>
    <div class="value"><%= text_field_tag('settings[name]', @vm.name) %></div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">OS Type: <%= os_type_id_description %></div>
    <div class="value"><%= select_tag('settings[os_type_id]', grouped_options_for_select(os_types, @vm.os_type_id).html_safe) %></div>
    <div class="break"></div>
  </div>

  <div class="subheading">Advanced</div>
  <div class="data">
    <div class="label">Snapshot Folder: <%= snapshot_folder_description %></div>
    <div class="value"><%= text_field_tag('settings[snapshot_folder]', @vm.snapshot_folder) %></div>
    <div class="break"></div>
  </div>

  <div class="subheading">Other</div>
  <div class="data">
    <div class="label">Description: <%= description_description %></div>
    <div class="value"><%= text_area_tag('settings[description]', @vm.description, :rows => 6, :cols => 42) %></div>
    <div class="break"></div>
  </div>
</fieldset>
