<fieldset id="system" class="data_box">
  <legend class="heading"><a name="system">System</a></legend>

  <div class="subheading">Motherboard</div>
  <div class="data">
    <div class="label">Base Memory: <%= memory_size_description %></div>
    <div class="value">
      <%= text_field_tag('settings[memory_size]', @vm.memory_size, :size => 4) %> MB
      <small>
        (range: <%= get_system_property(:min_guest_ram) %> -
         <%= get_system_property(:max_guest_ram) %>)
      </small>
    </div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Memory Balloon Size: <%= memory_balloon_size_description %></div>
    <div class="value">
      <%= text_field_tag('settings[memory_balloon_size]', @vm.memory_balloon_size, :size => 4) %> MB
      <small>
        (range: <%= get_system_property(:min_guest_ram) %> -
         <%= get_system_property(:max_guest_ram) %>)
      </small>
    </div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Boot Order: <%= boot_order_description %></div>
    <div class="value">
      <% @vm.boot_order.each_with_index do |boot_order, index| %>
        <%= select_tag("settings[boot_order][]", options_for(:boot_types, boot_order)) %><br />
      <% end %>
    </div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">ACPI: <%= acpi_enabled_description %></div>
    <div class="value">
      <%= radio_button_tag('settings[bios][acpi_enabled]', true, @vm.bios.acpi_enabled) %> Enabled
      <%= radio_button_tag('settings[bios][acpi_enabled]', false, !@vm.bios.acpi_enabled) %> Disabled
    </div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">IO APIC: <%= io_apic_enabled_description %></div>
    <div class="value">
      <%= radio_button_tag('settings[bios][io_apic_enabled]', true, @vm.bios.io_apic_enabled) %> Enabled
      <%= radio_button_tag('settings[bios][io_apic_enabled]', false, !@vm.bios.io_apic_enabled) %> Disabled
    </div>
    <div class="break"></div>
  </div>

  <div class="subheading">Processor</div>
  <div class="data">
    <div class="label">Processor(s): <%= cpu_count_description %></div>
    <div class="value">
      <%= text_field_tag('settings[cpu_count]', @vm.cpu_count, :size => 4) %>
      <small>
        (range: <%= get_system_property(:min_guest_cpu_count) %> -
         <%= get_system_property(:max_guest_cpu_count) %>)
      </small>
    </div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">PAE/NX: <%= pae_description %></div>
    <div class="value">
      <%= radio_button_tag('settings[cpu][pae]', true, @vm.cpu.pae) %> Enabled
      <%= radio_button_tag('settings[cpu][pae]', false, !@vm.cpu.pae) %> Disabled
    </div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Synthetic: <%= synthetic_description %></div>
    <div class="value">
      <%= radio_button_tag('settings[cpu][synthetic]', true, @vm.cpu.synthetic) %> Enabled
      <%= radio_button_tag('settings[cpu][synthetic]', false, !@vm.cpu.synthetic) %> Disabled
    </div>
    <div class="break"></div>
  </div>

  <div class="subheading">Acceleration</div>
  <div class="data">
    <div class="label">VT-x/AMD-V: <%= vtx_description %></div>
    <div class="value">
      <%= radio_button_tag('settings[hw_virt][enabled]', true, @vm.hw_virt.enabled) %> Enabled
      <%= radio_button_tag('settings[hw_virt][enabled]', false, !@vm.hw_virt.enabled) %> Disabled
    </div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Nested Paging: <%= nested_paging_description %></div>
    <div class="value">
      <%= radio_button_tag('settings[hw_virt][nested_paging]', true, @vm.hw_virt.nested_paging) %> Enabled
      <%= radio_button_tag('settings[hw_virt][nested_paging]', false, !@vm.hw_virt.nested_paging) %> Disabled
    </div>
    <div class="break"></div>
  </div>
</fieldset>
