<div id="vm_list">
  <% @vms ||= VirtualBox::VM.all.sort_by { |vm| vm.name.downcase } %>
  <h2>Virtual Machines (<%= @vms.size %>)</h2>

  <% @vms.each do |vm| %>
  <div class="record<%= ' current' if params[:uuid] == vm.uuid %>">
    <div class="icon"><%= convert_ostype_to_icon(vm.ostype) %></div>
    <div class="name"><%= link_to(vm.name, "/vm/#{vm.uuid}") %></div>
    <div class="state"><%= formatted_state_from(vm.state) %></div>
    <div style="clear:both;"></div>
  </div>
  <% end %>
</div>
