<div id="actions">
  <% if (@vm.powered_off? || @vm.saved? || @vm.aborted?) && any_hard_drives_attached_to?(@vm) %>
  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/start_16px', 'Start'), "/vm/#{@vm.uuid}/start") %></div>
    <div class="label"><%= link_to('Start', "/vm/#{@vm.uuid}/start") %></div>
  </div>
  <% end %>

  <% if @vm.powered_off? %>
  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/settings_16px', 'Settings'), vm_settings_path) %></div>
    <div class="label"><%= link_to('Settings', vm_settings_path) %></div>
  </div>

  <% if any_hard_drives_attached_to?(@vm) %>
  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/export_16px', 'Exports'), vm_exports_path) %></div>
    <div class="label"><%= link_to('Exports', vm_exports_path) %></div>
  </div>

  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/snapshots_16px', 'Snapshots'), vm_snapshots_path) %></div>
    <div class="label"><%= link_to('Snapshots', vm_snapshots_path) %></div>
  </div>
  <% end %>

  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/delete_16px', 'Delete'), vm_destroy_path) %></div>
    <div class="label"><%= link_to('Delete', vm_destroy_path) %></div>
  </div>
  <% end %>

  <% if @vm.running? || @vm.starting? %>
  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/shutdown_16px', 'Shutdown'), "/vm/#{@vm.uuid}/shutdown") %></div>
    <div class="label"><%= link_to('Shutdown', "/vm/#{@vm.uuid}/shutdown") %></div>
  </div>
  <% end %>

  <% if @vm.running? || @vm.paused? || @vm.starting? %>
  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/poweroff_16px', 'Power off'), "/vm/#{@vm.uuid}/poweroff") %></div>
    <div class="label"><%= link_to('Power Off', "/vm/#{@vm.uuid}/poweroff") %></div>
  </div>

  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/save_16px', 'Save'), "/vm/#{@vm.uuid}/save") %></div>
    <div class="label"><%= link_to('Save', "/vm/#{@vm.uuid}/save") %></div>
  </div>
  <% end %>

  <% if @vm.running? || @vm.starting? %>
  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/pause_16px', 'Pause'), "/vm/#{@vm.uuid}/pause") %></div>
    <div class="label"><%= link_to('Pause', "/vm/#{@vm.uuid}/pause") %></div>
  </div>
  <% end %>

  <% if @vm.paused? %>
  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/start_16px', 'Resume'), "/vm/#{@vm.uuid}/resume") %></div>
    <div class="label"><%= link_to('Resume', "/vm/#{@vm.uuid}/resume") %></div>
  </div>
  <% end %>

  <% if @vm.saved? %>
  <div class="action">
    <div class="icon"><%= link_to(vbicon('controls/vm/discard_16px', 'Discard'), "/vm/#{@vm.uuid}/discard") %></div>
    <div class="label"><%= link_to('Discard', "/vm/#{@vm.uuid}/discard") %></div>
  </div>
  <% end %>

  <div class="action refresh">
    <div class="icon"><%= link_to(vbicon('controls/vm/refresh_16px', 'Refresh'), "/vm/#{@vm.uuid}") %></div>
    <div class="label"><%= link_to('Refresh', "/vm/#{@vm.uuid}") %></div>
  </div>

  <div style="clear:both;"></div>
</div>
