<div id="system" class="data_box">
  <div class="heading">System</div>
  <div class="data">
    <div class="label">Base Memory:</div>
    <div class="value"><%= number_with_delimiter(@vm.memory) %> MB</div>
  </div>
  <div class="data">
    <div class="label">Processor(s):</div>
    <div class="value"><%= number_with_delimiter(@vm.cpus) %></div>
  </div>
  <div class="data">
    <div class="label">Boot Order:</div>
    <div class="value"><%= formatted_boot_order_from_vm(@vm) %></div>
  </div>
  <div class="data">
    <div class="label">VT-x/AMD-V:</div>
    <div class="value"><%= formatted_state_from(@vm.hwvirtex) %></div>
  </div>
  <div class="data">
    <div class="label">Nested Paging:</div>
    <div class="value"><%= formatted_state_from(@vm.nestedpaging) %></div>
  </div>
</div>
