<h2 class="heading">Updating <%= @vm.name %></h2>

<div class="description_note">
  ( hover over any of the labels to get a description of what the value is for )
</div>

<%= render 'categories', :buttons => %w{ general system display audio } %>

<div id="vm_properties">
  <%= form_tag(vm_settings_path, :method => :put) do %>
    <% %w{ general system display audio }.each do |data_type| %>
      <%= render "vm/settings/#{data_type}" %>
    <% end %>
    <%= submit_tag 'Update Settings' %>
  <% end %>
</div>
