<h2 class="heading">Viewing <%= @vm.name %></h2>

<%= missing_hard_drive_attachment_warning unless any_hard_drives_attached_to?(@vm) %>

<%= render 'controls' %>

<%= render 'categories', :buttons => %w{ general system display storage audio network usb shared_folders } %>

<div id="vm_properties">
  <% %w{ general system display storage audio network usb shared_folders }.each do |data_type| %>
    <%= render "vm/display/#{data_type}" %>
  <% end %>
</div>
