<div class="status"><%= Export::STATUSES[@export.status.to_sym] %></div>
<div class="percent_exported">
  <div class="bar" style="width: <%= @export.percent_exported %>%;"></div>
  <div class="text"><%= @export.percent_exported %>%  </div>
</div>

<div class="reload"><%= link_to('Reload', '') unless @export.percent_exported > 0 || @export.completed? %></div>

<% if @export.completed? %>
  <div class="download">
    <% if File.exist?(@export.packaged_file_path) || File.exist?(@export.filepath) %>
      <%= link_to('Download', vm_export_download_path) %>
    <% else %>
      (the files needed to download have<br />been deleted since this export was run)
    <% end %>
  </div>
<% end %>

<%= javascript_tag("stop_progress_bar();") if @export.completed? %>
<%= javascript_tag("$('no_background_process').hide();") if @export.percent_exported > 0 %>
