<% hidden ||= false %>
<div id="display" class="data_box" <%=raw 'style="display:none;"' if hidden %>>
  <div class="heading">Video</div>
  <div class="data">
    <div class="label">Video Memory:</div>
    <div class="value"><%= number_with_delimiter(@vm.vram_size) %> MB</div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">3D Acceleration:</div>
    <div class="value"><%= formatted_state_from(@vm.accelerate_3d_enabled) %></div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">2D Video Acceleration:</div>
    <div class="value"><%= formatted_state_from(@vm.accelerate_2d_video_enabled) %></div>
    <div class="break"></div>
  </div>

  <div class="heading">Remote Display</div>
  <% if @vm.interface.vrdp_server.enabled %>
    <div class="data">
      <div class="label">Server Port:</div>
      <div class="value"><%= @vm.interface.vrdp_server.ports %></div>
      <div class="break"></div>
    </div>
    <div class="data">
      <div class="label">Authentication Method:</div>
      <div class="value"><%= @vm.interface.vrdp_server.auth_type %></div>
      <div class="break"></div>
    </div>
    <div class="data">
      <div class="label">Authentication Timeout:</div>
      <div class="value"><%= @vm.interface.vrdp_server.auth_timeout %></div>
      <div class="break"></div>
    </div>
  <% else %>
    <div class="data">Disabled</div>
  <% end %>

</div>
