<div id="network" class="data_box">
  <div class="heading"><a name="network">Network</a></div>

  <% @vm.network_adapters.each_with_index do |network_adapter, index| %>
    <% next unless network_adapter.enabled %>
    <div class="subheading">
      Adapter <%= index + 1 %>
      (<%= t("vm.network_attachment_types.#{network_adapter.attachment_type}") %> -
      <%= network_adapter.cable_connected ? 'connected' : 'not connected' %>)
    </div>
    <% unless %w{ null nat }.include?(network_adapter.attachment_type.to_s) %>
      <div class="data">
        <div class="label">Name:</div>
        <div class="value"><%= network_adapter.host_interface %></div>
        <div class="break"></div>
      </div>
    <% end %>
    <div class="data">
      <div class="label">Adapter Type:</div>
      <div class="value"><%= t("vm.network_adapter_types.#{network_adapter.adapter_type}") %> (<%= network_adapter.adapter_type %>)</div>
      <div class="break"></div>
    </div>
    <div class="data">
      <div class="label">Mac Address:</div>
      <div class="value"><%= network_adapter.mac_address %></div>
      <div class="break"></div>
    </div>
  <% end %>
</div>
