<div id="system" class="data_box">
  <div class="heading"><a name="system">System</a></div>

  <div class="subheading">Motherboard</div>
  <div class="data">
    <div class="label">Base Memory:</div>
    <div class="value"><%= number_with_delimiter(@vm.memory_size) %> MB</div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Memory Balloon Size:</div>
    <div class="value"><%= number_with_delimiter(@vm.memory_balloon_size) %> MB</div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Boot Order:</div>
    <div class="value"><%= formatted_boot_order_from_vm(@vm) %></div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">ACPI:</div>
    <div class="value"><%= formatted_state_from(@vm.bios.acpi_enabled) %></div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">IO APIC:</div>
    <div class="value"><%= formatted_state_from(@vm.bios.io_apic_enabled) %></div>
    <div class="break"></div>
  </div>

  <div class="subheading">Processor</div>
  <div class="data">
    <div class="label">Processor(s):</div>
    <div class="value"><%= number_with_delimiter(@vm.cpu_count) %></div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">PAE/NX:</div>
    <div class="value"><%= formatted_state_from(@vm.cpu.pae) %></div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Synthetic:</div>
    <div class="value"><%= formatted_state_from(@vm.cpu.synthetic) %></div>
    <div class="break"></div>
  </div>

  <div class="subheading">Acceleration</div>
  <div class="data">
    <div class="label">VT-x/AMD-V:</div>
    <div class="value"><%= formatted_state_from(@vm.hw_virt.enabled) %></div>
    <div class="break"></div>
  </div>
  <div class="data">
    <div class="label">Nested Paging:</div>
    <div class="value"><%= formatted_state_from(@vm.hw_virt.nested_paging) %></div>
    <div class="break"></div>
  </div>
</div>
