<div id="vm_list">
  <% @vm_list ||= VirtualBox::VM.all.sort_by { |vm| vm.name.downcase } %>
  <h2>Virtual Machines (<%= number_with_delimiter(@vm_list.size) %>)</h2>

  <% @vm_list.each do |vm| %>
  <div class="record<%= ' current' if params[:uuid] == vm.uuid %>">
    <div class="icon"><%= convert_ostype_to_os_icon(vm.os_type_id) %></div>
    <div class="name"><%= link_to(vm.name, "/vm/#{vm.uuid}") %></div>
    <div class="state"><%= formatted_state_from(vm.state) %></div>
    <div style="clear:both;"></div>
  </div>
  <% end %>

  <div class="links">
    <ul>
      <li><%= link_to 'Import', vm_imports_path %></li>
    </ul>
  </div>
</div>
