<!DOCTYPE html>
<html>
<head>
  <title>VirtualBox Web Interface</title>
  <%= stylesheet_link_tag('reset', 'application') %>
  <%= javascript_include_tag(:defaults, 'vboxweb') %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">

    <div id="header">
      <h1>VirtualBox Web Interface</h1>
      <div id="version">v0.2.0</div>
    </div>

    <% if flash[:notice] %>
      <div id="notice" class="flash"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:error] %>
      <div id="error" class="flash"><%= flash[:error] %></div>
    <% end %>

    <div id="menu">
      <%= render 'layouts/vms' %>
      <%= render 'layouts/hds' %>
    </div>

    <div id="info">
      <%= yield %>
    </div>

    <div style="clear:both;"></div>

    <div id="footer">
      This application licensed under MIT license, &copy; Kieran Pilkington<br />
      Images are licensed under GPL 2, &copy; Sun Microsystems, Inc.
    </div>

  </div>
</body>
</html>
